@model IEnumerable<Cinema.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<section>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <article>
                    <a>
                        <img src="~/img/@item.Poster" />
                        <h3>@item.Title</h3>
                        <ul>
                            @foreach(Session session in ViewBag.Sessions[item.Id])
                            {
                                <li>
                                    @session.ShowTime
                                </li>
                            }
                        </ul>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>